.character {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
}

.characterName {
  font-family: 'Harry Potter', sans-serif;
  font-size: 1.4rem;
  color: #f1c40f; 
  text-shadow: 1px 1px 2px #000;
  margin: 15px;
}



